<h1>Movies</h1><br><br>
<% @movies.each do |movie|%>
<li>
<%= link_to movie.title, movie %><br>
<%= movie.genre %><br>
<%= movie.description %>
<%= button_to "Add", {controller: :watchlists, action: :create, watchlist: {movie_id: movie.id, user_id: session[:user_id]}}%><br>
<%end%>
