<h1><%= @user.name %></h1><br>
<h2><%= @user.age%></h2>
<%= link_to "Delete", user_path(@user), method: :delete %>
<%#= button_to "Movies", movies_path, method: :get%><br>
<%#= button_to "Watchlist", watchlist_path method: :get%>